body
	width:1000px
.tabs_list
	list-style: none
	padding: 0px
	margin: 0
.tab
	list-style: none
	border:1px solid black
	margin-top:-1px
	margin-right:-1px
	margin-left:-1px
	z-index:100
	background-color: #CFE2F3
	font-size: 20px
	padding:12px 10px
	&:hover
		background-color: lighten(#CFE2F3, 7%)
	&.active
		border-right-color: #D9D2E9
		background-color: #D9D2E9

		&:hover
			background-color: lighten(#D9D2E9, 7%)
.tabs
	width:28%
	float: left
	border: 1px solid black
	padding: 0px
	height:570px
	background-color: #CFE2F3

.tab_content
	border:1px solid black
	width:70%
	float: left
	position: relative
	margin-left: -1px
	z-index: -5
	padding:10px
	height:570px
	background-color: #D9D2E9
.tab_item
	display:none

	&:first-child
		display:block

.smaller_text_block
	font-weight: bolder
	font-size: 15px
	display: inline-block
	vertical-align: top
	margin:5px
	width: 45%
	&.mid_block
		width:31%
	&.bottom_block
		width:60%
		&.bottom_block_left
			width:30%
