h1 {
  color: #fff;
  font-size: 60px;
  line-height: 56px;
  font-weight: bold;
  font-family: "ClearvertisingLight", sans-serif;
}

section {
  padding: 58px 0 68px;
}

sections.dark h2, sections.dark h3, sections.dark p {
  color: #fff;
}

section h2 {
  color: #003469;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
}

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

header {
  min-height: 640px;
  background-image: url("../img/top_bg.jpg");
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-top: 32px;
}

.logo {
  font-size: 40px;
  font-family: "RobotoBold", sans-serif;
  font-weight: bold;
}

.top_phone {
  text-align: right;
  cursor: pointer;
}

.top_phone {
  text-decoration: underline;
}

.top_phone .wrapper .active {
  color: #fff;
  text-shadow: 2px 2px 4px #981818;
}

.tab_item {
  display: none;
}

.tab_item:first-child {
  display: block;
}

.wrapper .tab {
  text-transform: uppercase;
  font-family: RobotoBold;
  cursor: pointer;
}

.tab_content .tab_item {
  font-size: 25px;
}

.col-md-7 .tab_content {
  box-shadow: 2px 2px 20px 0.1px black;
}

.top_header h1 {
  margin: 0;
  margin-top: 12%;
  font-family: "RobotoLight", sans-serif;
  font-weight: normal;
}

.top_header h2 {
  margin: 15px 0 15px auto;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.tabs_header {
  margin-top: 35px;
}

.tabs_header .tabs {
  margin: 30px 0 0 0;
}

.tabs_header .tabs span.tab {
  transition: all 0.5s ease;
  margin-right: -5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px 10px;
  text-transform: uppercase;
}

.tabs_header .tabs span.tabtab_secret {
  font-size: 30px;
}

.tabs_header .tabs span.tab.active {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.tabs_header .tab_content {
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 5px 5px;
  margin: 0px 10px 0 0;
}

.tabs_header .tab_content .tab_item .tab1_content, .tabs_header .tab_content .tab_item .tab2_content {
  list-style: none;
  padding-left: 10px;
}

.tabs_header .tab_content .tab_item .tab1_content .offers_list_item, .tabs_header .tab_content .tab_item .tab2_content .offers_list_item {
  margin: 15px auto;
  position: relative;
  padding-left: 25px;
  line-height: 30px;
}

.tabs_header .tab_content .tab_item .tab1_content i, .tabs_header .tab_content .tab_item .tab2_content i {
  position: absolute;
  vertical-align: middle;
  line-height: 40px;
  left: 0;
  font-size: 20px;
  /*.ico_custom
						text-transform: none
						font-family: "MyFont"
						font-size: 	30px
						margin:10px
						margin-bottom: 40px
						float:left
						display: inline-block*/
}

.tabs_header .tab_content .tab_item .tab1_content i span, .tabs_header .tab_content .tab_item .tab2_content i span {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 20px;
}

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 45px;
  font-size: 16px;
  background-color: black;
  border-radius: 2px;
  color: #fff;
  margin: 10px;
  text-align: center;
  padding: 0px 30px;
  text-transform: uppercase;
  font-family: "RobotoRegular";
}

.button.btn_red {
  background-color: #981818;
}

.button.btn_green {
  background-color: #67bc5c;
}

.button.btn_white {
  background-color: #fff;
}

.button.button_header_align_right {
  float: right;
  transition: all 0.3s ease;
}

.button.button_header_align_right:hover {
  margin-right: 11px;
  box-shadow: 5px 5px 10px 0.5px black;
}

.s_tizers {
  background-color: #c6d8ee;
  background-image: linear-gradient(#c6d8ee, #e8eff7);
  padding: 15px 0px;
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.s_tizers span {
  font-size: 14px;
}

.s_tizers .strong {
  font-size: 23px;
  line-height: 20px;
  vertical-align: middle;
  display: block;
  text-align: left;
}

.tiz_img,
.tiz_descr {
  display: inline-block;
  vertical-align: middle;
}

.tiz_img {
  vertical-align: middle;
}

.tiz_img i {
  font-size: 60px;
}

.tiz_img b {
  font-size: 60px;
  font-family: "RobotoRegular";
  letter-spacing: -10px;
  margin: auto 10px;
}
